.container {
  position: relative;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1128px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 8px;
  padding-bottom: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container.releasescontainer {
  top: 0px;
  display: block;
  width: 100%;
  margin-bottom: 0px;
  padding: 32px 24px 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #464965;
  border-bottom-right-radius: 128px;
}

.container.releasescontainer.linkpage {
  margin-top: 0px;
  padding-bottom: 24px;
  border-top-right-radius: 128px;
  border-bottom-right-radius: 0px;
  background-color: #edecf1;
}

.container.div {
  display: block;
}

.info {
  font-family: 'Roboto Mono', sans-serif;
  color: #464965;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.info.paragraph {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
  line-height: 16px;
  white-space: normal;
}

.info.linkpagespacer {
  margin-right: 16px;
}

.info.linkhover {
  -webkit-transition: letter-spacing 200ms ease;
  transition: letter-spacing 200ms ease;
}

.info.linkhover:hover {
  letter-spacing: 8px;
}

.bottom-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.albumdetails {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Roboto Mono', sans-serif;
}

.albumdetails.linkpage {
  margin-bottom: 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.album {
  width: 295px;
  margin-right: 16px;
  margin-left: 16px;
}

.releasewrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.releasewrap.linkpage {
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading-3 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: 'Roboto Mono', sans-serif;
  color: #464965;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.image-6 {
  width: 100%;
  max-width: 369px;
  min-width: 240px;
}

.headerwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f6;
}

.top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 16px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider-line {
  width: 100%;
  height: 1px;
  margin-right: 8px;
  margin-left: 8px;
  background-color: #464965;
  opacity: 0.22;
}

.divider-line.bottom {
  margin-right: 16px;
  margin-left: 0px;
}

.hero {
  margin-bottom: 32px;
}

.counter {
  margin-right: 8px;
  margin-left: 8px;
  font-family: 'Roboto Mono', sans-serif;
  color: #464965;
  font-size: 12px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.linegradiate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 158px;
  height: 158px;
  min-height: 158px;
  min-width: 158px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #464965;
  border-radius: 0px 32px 32px;
}

.detailsleft {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 158px;
  margin-right: 24px;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: #464965;
  background-image: url('../images/LeftPlusses.svg'), url('../images/curve-gradiate.svg');
  background-position: 0% 50%, 100% 50%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}

.detailsleft.simplified {
  background-image: none;
}

.tagline {
  font-family: 'Roboto Mono', sans-serif;
  color: #464965;
  font-size: 12px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.tagline.topleft {
  position: absolute;
  left: 16px;
  top: 16px;
  right: auto;
  bottom: auto;
  color: #fff;
}

.tagline.topleft.title {
  top: 40px;
}

.content {
  position: relative;
  max-width: 1128px;
  padding-top: 24px;
}

.coverimage {
  position: relative;
}

.button-wrapper {
  position: absolute;
  left: auto;
  top: -5%;
  right: auto;
  bottom: auto;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 48px;
  margin-bottom: 8px;
  padding-right: 12px;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #edecf1;
  border-radius: 0px 20px 0px 0px;
  background-color: #edecf1;
  -webkit-transition: background-color 200ms ease, letter-spacing 200ms ease;
  transition: background-color 200ms ease, letter-spacing 200ms ease;
  font-family: 'Roboto Mono', sans-serif;
  color: #464965;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #f4f5f7;
  letter-spacing: 12px;
}

.bodyclass {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f5f7;
}

.mobilehero {
  display: none;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.image-7 {
  height: 100%;
  border-top-right-radius: 128px;
  -o-object-fit: cover;
  object-fit: cover;
}

.fullwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 1128px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fullwrap.leftalign {
  margin-top: -24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 48px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 12px;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #edecf1;
  border-radius: 0px 20px 0px 0px;
  background-color: #464965;
  -webkit-transition: background-color 200ms ease, letter-spacing 200ms ease;
  transition: background-color 200ms ease, letter-spacing 200ms ease;
  font-family: 'Roboto Mono', sans-serif;
  color: #edecf1;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.button2:hover {
  background-color: #26283b;
  color: #f4f5f7;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  padding-right: 12px;
  padding-left: 0px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 12px;
}

.centerizer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #edecf1;
}

.link-block {
  text-decoration: none;
}

.listenlinks {
  -webkit-transition: opacity 200ms ease, -webkit-filter 400ms ease;
  transition: opacity 200ms ease, -webkit-filter 400ms ease;
  transition: filter 400ms ease, opacity 200ms ease;
  transition: filter 400ms ease, opacity 200ms ease, -webkit-filter 400ms ease;
  text-decoration: none;
}

.listenlinks:hover {
  opacity: 0.75;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container.releasescontainer {
    padding-right: 32px;
    padding-left: 32px;
  }

  .album {
    width: 280px;
    margin-right: 24px;
  }

  .heading-3 {
    position: relative;
    margin-top: 0px;
    text-align: left;
    white-space: normal;
  }

  .headerwrapper {
    width: 100%;
  }

  .detailsleft {
    background-position: 0% 50%, 100% 50%;
    background-attachment: scroll, scroll;
  }

  .heading-4 {
    margin-bottom: 8px;
  }

  .image-7 {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .fullwrap {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .info {
    white-space: normal;
  }

  .albumdetails {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .album {
    width: 100%;
    margin-right: 0px;
  }

  .releasewrap {
    padding-bottom: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .releasewrap.linkpage {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .heading-3 {
    font-family: 'Roboto Mono', sans-serif;
  }

  .heading-4 {
    line-height: 16px;
  }

  .image-7 {
    margin-bottom: 16px;
  }

  .albumart {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .container.releasescontainer {
    padding-bottom: 40px;
  }

  .container.releasescontainer.linkpage {
    padding-right: 24px;
    padding-left: 24px;
  }

  .info.nobreak {
    white-space: nowrap;
  }

  .album {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }

  .releasewrap {
    margin-left: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .headerwrapper {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero {
    display: none;
  }

  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .linegradiate {
    width: 100%;
    margin-top: 16px;
  }

  .detailsleft {
    background-position: 0% 50%, 16% 50%;
  }

  .content {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .button-wrapper {
    top: 199px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .mobilehero {
    display: block;
    height: 500px;
    margin-bottom: 16px;
    border-top-right-radius: 180px;
    background-image: url('../images/noCrop.png');
    background-position: 50% 0%;
    background-size: cover;
  }

  .image-7 {
    margin-bottom: 16px;
  }

  .fullwrap {
    width: 100%;
  }
}

